.create-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.create-container form{
    width: 100vw;
    max-width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column; 
}

.create-container form input{
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
    height: 45px;
    padding: 0 18px;
    font-size: 14px;
    color: #666;
}

select, textarea, option{
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
    height: 45px;
    padding: 0 18px;
    font-size: 14px;
    color: #666; 
}

select, textarea, input::placeholder{
   color: #666; 
}

textarea{
    height: 90px;
}


