.create-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.create-container form{
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
}