.create-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.create-container .logo-png{
    width: 200px;
}

.create-container form{
    width: 100vw;
    max-width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column; 
}

.create-container form label{
    margin-bottom: 3px;
    margin-left: 3px;    
}

.create-container form input, .create-container form select{
    border: 1px solid rgb(207, 207, 207);
    border-radius: 4px;
    margin-bottom: 5px;
    height: 45px;
    padding: 0 18px;
    font-size: 14px;
    color: #666;
    background-color: #cfcfcf;
    width: 100%;
}

select, textarea, option, input{
    border: 1px solid rgb(207, 207, 207);
    border-radius: 4px;
    margin-bottom: 5px;
    height: 45px;
    padding: 0 18px;
    font-size: 14px;
    color: #666;
    background-color: #cfcfcf;
    width: 100%;
}

select, textarea, input::placeholder{
   color: #666; 
}

textarea{
    height: 90px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
    height: 45px;
    padding: 0 18px;
    font-size: 14px;
    color: #666;
    width: 100%;
}

.btn{
    background: #ffe91d;
    padding: 10px 34px;
    border: none;
    margin: 9px;
    font-size: 20px;
    border-radius: 5px;
}


