main{
    background-position: bottom;
    background-size: cover;
    background-image: url('../assets/bg.svg');
    height: 100vh;
}
main header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 90px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
}

main header img:hover{
    transform: translateY(-3px);
    transition: all 0.2s;
}
main header a{
    color: #303030;
    text-decoration: none;
}

main .container{
    max-width: 990px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1{
    font-size: 50px;
    text-transform: uppercase;
}

.container p{
    font-size: 20px;
    color: #303030;
}

.box-search{
    background: white;
    margin: 20px;
    padding: 20px 100px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
}

.box-search h1{
    font-size: 27px;
    text-transform: none;
    margin-bottom: 5px;
}

.btn{
    background: #fcf512;
    padding: 10px 34px;
    border: none;
    margin: 5px;
    font-size: 20px;
    border-radius: 5px;
}

.btn-desabled{
    background: transparent;
    padding: 5px 30px;
    border: 1px solid #ddd;
    margin: 8px;
    font-size: 22px;
    border-radius: 5px;
}

.btn-desabled:hover{
    background: #fcf512;
    border: none;
}