main{
    background-position: bottom;
    background-size: cover;
    background-image: url('../assets/bg.svg');
    height: 100vh;
}
main header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 90px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
}

main header img:hover{
    transform: translateY(-3px);
    transition: all 0.2s;
}
main header a{
    color: #303030;
    text-decoration: none;
}

main .container{
    max-width: 980px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}

main .container ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 50px;
}

main .container ul li{
    display: flex;
    flex-direction: column;
}
.box-search{
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
}
.box-search h1{
    font-size: 24px;

}