body{
    overflow-x: hidden;
}
.content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.content .nav .logo-png{
    width: 180px;
}
.content-description{
    width: 100vw;
    max-width: 800px;
    margin-top: 10px;
    padding: 10px;
}
.description-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.description-header label .product-code{
    font-size: 16px;
}
.price{
    background: #ffe91d;
    padding: 8px;
    font-size: 23px;
    border-radius: 4px;
    text-align: center;
}
.content-description p{
    color: #474747;
    margin-bottom: 10px;
    text-align: justify;
}
.cinza{
    color: #474747;
}
.content article{
    margin-top: 10px; 
    background: #ffe91d;
    height: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer{
    color: #303030;
    width: 100vw;
    text-align: center;
    height: auto;
    padding: 20px;
    margin-top: 50px;
}

footer .logo-png{
    width: 200px;
}
.logo{
    margin-right: 5px;
}
.slide{
    max-width: 800px;
}
.aws-sld__bullets{
    display: none;
}