body{
    overflow-x: hidden;
}
.content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.content .nav .logo-png{
    width: 180px;
}
.content-description{
    width: 100vw;
    max-width: 950px;
    margin-top: 10px;
    padding: 10px;
}
.description-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.description-header label .product-code{
    font-size: 10px;
    color: blue;
    margin-bottom: 8px;
}
.price{
    background: #ffe91d;
    padding: 8px;
    font-size: 18px;
    border-radius: 4px;
    text-align: center;
}
.content-description p{
    color: #8d8888;
    margin-bottom: 5px;
    font-size: 14px;
    text-align: left;
}
.cinza{
    color: #474747;
    line-height: 24px;
}
.content article{
    margin-top: 10px; 
    background: #ffe91d;
    height: auto;
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer{
    color: #303030;
    width: 100vw;
    text-align: center;
    height: auto;
    padding: 20px;
    margin-top: 50px;
}

footer .logo-png{
    width: 200px;
}
.logo{
    margin-right: 5px;
}
.slide{
    max-width: 950px;
}
.aws-sld__bullets{
    display: none;
}
.icon-md{
    height: 25px;
    margin: 10px;
}
.share{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.space{
    margin-left: 5px;
    margin-right: 5px; 
}
article h1{
    margin-bottom: 10px;
}
@media screen and (max-width: 767px) and (min-width: 300px){
    .markdown{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    article h1{
        font-size: 15px;
        margin-bottom: 5px;
    }
}