*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

input, select{
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance: none;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');

html, body, #root {
  width: 100%;
  height: auto;
}

body{
  background:#f5f5f5;
}

body, input, button,textarea, select {
  font-family: 'Montserrat', sans-serif, Arial, Helvetica;
  font-weight: bold;
}